
body {
   display: inline-block;
    font-family: Inter;
}

.style{
margin-left: 20px;
margin-right: 20px;
}
.dob{
    width: 170px;

}
.main{
   margin-top: 100px;
    margin-left: 250px;
}
.section1{
    display: flex;
    justify-content: space-between;
}
.section2{
    display: flex;
    justify-content: space-between;
}
.section3{
    display: flex;
  
}
.container{
    display: flex;
    display: inline-block;
flex-direction: column;
    border: 1px solid#c4c9cc;
    background-color: #ffe6ff;  
}
label{
    margin-top:20px ;
}
.colomn {
    width: 33%;
}
textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    resize: none;
    margin-left: 50px;
}
button {
    border: none;
    background-color: blue;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}
.submitact{
    margin-top: 20px;
}

.selectbox{
    width: 170px;
}

.disabled{
    border: none;
    cursor: no-drop;
    background-color: #BDBDBD;
    color: black;
    padding: 12px;
    margin: 50px;
    border-radius: 8px;
}
.valid {
   
    color: red;
}
table{
    width: 100%;
    display: none;
}

table,tr,td{
    text-align: center;
    border-collapse: collapse;
    padding: 10px;

}

table tr:first-child{
    background-color: #a5acb9;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

tr:nth-child(odd){
    background-color: #E0E0E066;
}
